<!DOCTYPE html>
<html>
<head>
    <title>Back Pain Symptom Assessment</title>
</head>
<body>
    <h1>Back Pain Symptom Assessment</h1>
    <form action="/" method="POST">
        <label for="intensity">Intensity out of 10:</label>
        <input type="text" id="intensity" name="intensity"><br><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>

        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration"><br><br>

        <label for="aggravating_factors">Aggravating Factors:</label>
        <input type="text" id="aggravating_factors" name="aggravating_factors"><br><br>

        <label for="alleviating_factors">Alleviating Factors:</label>
        <input type="text" id="alleviating_factors" name="alleviating_factors"><br><br>

        <label for="other_symptoms">Other Symptoms:</label>
        <input type="text" id="other_symptoms" name="other_symptoms"><br><br>

        <label for="previous_treatment">Previous Treatment:</label>
        <input type="text" id="previous_treatment" name="previous_treatment"><br><br>

        <label for="additional_info">Additional Information:</label>
        <input type="text" id="additional_info" name="additional_info"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
